snippet cr "Crag report front matter"
---

Tittel: ${1:Tittel}
Dato: ${2:Dato}
På: ${3:Hvem var med?}
Andre: ${4:Andre folk tilstede?}
Forhold ${5:Crispt eller svett?}
Crag: ${6:Hvor ble det støta?}
SnD: ${7:Hva ble sendt?}

---

$0
endsnippet
